.addMaterialContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.urlList {
    margin-top: 10px;
    list-style-type: none;
}

.urlListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.url {
    color: #0b5d1e;
    text-decoration: none;
    font-weight: bold;
    max-width: 40%;
    min-width: 40%;
    text-align: left;
}

.addButton {
    font-weight: bold;
    width: 20%;
    cursor: pointer;
}


.materialPrice {
    font-weight: bold;
    color: #DD7428;
    font-size: medium;
}

.title {
    font-weight: bold;
    font-size: large;
    color: #0b5d1e;
}

.urlListRow {
    align-items: flex-start;
    text-align: left !important;
}
