.mailLink {
  color: var(--color-text);
  text-decoration: none;
}

.mailLink:hover {
  color: #0134a3;
}

.highlightedMailLink {
  color: var(--color-text);
  text-decoration: underline;
}

.highlightedMailLink:hover {
  color: #0134a3;
}

.modalDetails {
  display: grid;
  gap: 0.75rem;
}

.coworkersTable :global(th),
.coworkersTable :global(td) {
  text-align: center;
  vertical-align: middle;
  font-family: var(--font-family-primary);
}

.coworkersTable :global(th:nth-child(3)),
.coworkersTable :global(td:nth-child(3)) {
  text-align: center;
}

.coworkersTable :global(td > a) {
  display: inline-block;
}

.coworkersTable :global(.table tbody tr:hover) {
  background: transparent;
}

.coworkersTable :global(td:nth-child(5)) {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.coworkersTable :global(td:last-child > div) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 0;
}

.coworkersTable :global(th:last-child) {
  text-align: center;
}

.coworkersTable :global(td:last-child .edit-button) {
  color: #374151;
}

.coworkersTable :global(td:last-child .delete-button) {
  color: #ef4444;
}
