.infoText {
    color: #9795B5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.loginLink {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    text-decoration: underline;
    transition: color 0.3s ease;
    cursor: pointer;
}

.outScreenRigth {
    transform: translateX(100vw);
    animation-name: toOutScreen;
    animation-duration: 1s;
    position: absolute;
}

.outScreenLeft {
    transform: translateX(-100vw);
    position: absolute;
}

.inScreen {
    transform: translateX(0);
    animation-name: toScreen;
    animation-duration: 1s;
}


@keyframes toScreen {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes toOutScreen {
    from {
        transform: translateX(0vw);
        display: block;
    }

    to {
        transform: translateX(100vw);
    }
}

.requestNewCode {
    color: #1B5E20;
    font-weight: 700;
    cursor: pointer;
}

.passwordInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputLabelContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.confirmPassNotEquals {
    color: red;
}