.infoText {
    color: #9795B5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.loginLink {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    text-decoration: underline;
    transition: color 0.3s ease;
    cursor: pointer;
}

.outScreenLeft {
    transform: translateX(100vw);
    animation-name: toOutScreen;
    animation-duration: 1s;
}

.outScreenRigth {
    transform: translateX(-100vw);
    animation-name: toScreen;
    animation-duration: 1s;
}


@keyframes toScreen {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes toOutScreen {
    from {
        transform: translateX(0vw);
    }

    to {
        transform: translateX(100vw);
    }
}