
.mobileLayout {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.desktopLayout {
    display: none;
}


@media (min-width: 768px) {

    .mobileLayout {
        display: none;
    }

    .desktopLayout {
        display: block;
    }

    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 30px;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    .generalInfos {
        margin-top: 0;
    }

    .clientInfos {
        margin-top: 40px;
    }

    .projectFiles {
        margin-top: 40px;
    }
}
