.generalInfos {
    margin-top: 20px;
}

.clientInfos {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
    }

    .generalInfos {
        margin-top: 0px;
    }

    
}

