*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

:root {
  /* Colors */
  --color-primary: #e67e32;
  --color-primary-dark: #cc6e28;
  --color-secondary: #1e5128;
  --color-secondary-dark: #164019;
  --color-text: #374151;
  --color-text-light: #9ca3af;
  --color-background: #ffffff;
  --color-background-alt: #f9fafb;
  --color-border: #d1d5db;
  --color-border-light: #e5e7eb;

  /* Fonts */
  --font-family-primary: 'Montserrat', sans-serif;
}

body {
  min-height: 100%;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background-alt);
}

#root,
body,
#root {
  height: 100%;
  width: 100%;
}