*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

:root {
  --color-primary: #e67e32;
  --color-primary-dark: #cc6e28;
  --color-primary-light: #f4a261;

  --color-secondary: #1e5128;
  --color-secondary-dark: #164019;

  --color-error: #c53030;
  --color-error-bg: #fce8e6;
  --color-error-border: #fed7d7;

  --color-success: #2f855a;
  --color-success-bg: #f0fff4;
  --color-success-border: #c6f6d5;

  --color-warning: #c05621;
  --color-warning-bg: #fffff0;
  --color-warning-border: #fefcbf;

  --color-info: #3182ce;
  --color-info-bg: #ebf8ff;
  --color-info-border: #bee3f8;

  --color-neutral: #718096;
  --color-neutral-bg: #f7fafc;
  --color-neutral-border: #e2e8f0;

  --color-purple: #805ad5;
  --color-purple-bg: #faf5ff;
  --color-purple-border: #e9d8fd;

  --color-status-new: #1565C0;
  --color-status-pre-budget: #42A5F5;
  --color-status-client-awaiting-contact: #FDD835;
  --color-status-awaiting-retry: #BDBDBD;
  --color-status-retrying: #FB8C00;
  --color-status-negotiation-failed: #D32F2F;
  --color-status-scheduled-technical-visit: #8E24AA;
  --color-status-technical-visit-completed: #795548;
  --color-status-final-budget: #0288D1;
  --color-status-awaiting-materials: #FFB300;
  --color-status-scheduled-installing-visit: #558B2F;
  --color-status-installed: #43A047;
  --color-status-completed: #1B5E20;

  --color-text: #374151;
  --color-text-dark: #111827;
  --color-text-light: #9ca3af;
  --color-text-description: #718096;

  --color-background: #ffffff;
  --color-background-alt: #f9fafb;
  --color-background-input: #F5F5F5;

  --color-border: #d1d5db;
  --color-border-light: #e5e7eb;

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  --font-family-primary: 'Montserrat', sans-serif;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;
}

body {
  min-height: 100%;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background-alt);
}

#root,
body,
#root {
  height: 100%;
  width: 100%;
}